html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, 
blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, 
font, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, 
dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, 
tbody, tfoot, thead, tr, th, td {
	margin:0;
	padding:0;
}

body {
	font-family: "Helvetica Neue", helvetica, arial, sans-serif;
	font-size: 14px;
	line-height: 1.4em;
	background: #eeeeee;
	color: #333333;
	padding: 0px; 
	margin: 0px;
}

#todos {
	-moz-box-shadow: rgba(0, 0, 0, 0.2) 0 2px 6px 0;
	-webkit-box-shadow: rgba(0, 0, 0, 0.2) 0 2px 6px 0;
	-o-box-shadow: rgba(0, 0, 0, 0.2) 0 2px 6px 0;
	box-shadow: rgba(0, 0, 0, 0.2) 0 2px 6px 0;
	-moz-border-radius: 0 0 5px 5px;
	-o-border-radius: 0 0 5px 5px;
	-webkit-border-radius: 0 0 5px 5px;
	border-radius: 0 0 5px 5px;
	border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    background-attachment: scroll;
    margin: 0 auto 40px;
    width: 520px;
	background-color: white;
	
}

h1{
    font-size: 36px;
    font-weight: bold;
    line-height: 1;
    padding: 30px 0 10px;
    text-align: center;
}

#todos .create {
    border: 1px solid #999999;
	-moz-box-shadow: rgba(0, 0, 0, 0.2) 0 1px 2px 0 inset;
	-webkit-box-shadow: rgba(0, 0, 0, 0.2) 0 1px 2px 0 inset;
	-o-box-shadow: rgba(0, 0, 0, 0.2) 0 1px 2px 0 inset;
	box-shadow: rgba(0, 0, 0, 0.2) 0 1px 2px 0 inset;    font-family: inherit;
    font-size: 24px;
    line-height: 1.4em;
    outline: medium none;
    padding: 6px;
    width: 466px;
}

.content{
	padding: 20px 20px 0;
}

#instructions {
    color: #777777;
    margin: 10px auto;
    text-align: center;
    text-shadow: 0 1px 0 rgba(255, 255, 255, 0.8);
    width: 520px;
}

#instructions li{
	list-style-type:none;
}

.create, input.text {
	font-size: 1.4em;
	width: 100%;
}

ul {
	margin: 0px;padding: 0px;
}
.todo {
	list-style: none;
    border-bottom: 1px solid #CCCCCC;
    font-size: 24px;
    padding: 15px 20px 15px 0;
    position: relative;
	margin-left: 15px;
}

.todo:hover .todestroy{
	display:block;
}

#todo-stats {
    background: none repeat scroll 0 0 #F4FCE8;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    border-top: 1px solid #EDEDED;
    color: #555555;
    line-height: 36px;
 	margin-top: 20px;    
	padding: 0 20px;
}

.todo-count .number {
    color: #555555;
    font-weight: bold;
}

#list {
	margin-top: 20px;
}


.todestroy {
    background: url("destroy.png") no-repeat scroll center center transparent;
    cursor: pointer;
    height: 20px;
    position: absolute;
    right: 0;
    top: 16px;
    width: 20px;
	display:none;
 	margin-right: 20px;
}

.todo-clear {
	float: right;
}

.todo-clear a {
	display: block;
	line-height: 20px;
	text-decoration: none;
	-moz-border-radius: 12px;
	-webkit-border-radius: 12px;
	-o-border-radius: 12px;
	-ms-border-radius: 12px;
	-khtml-border-radius: 12px;
	border-radius: 12px;
	background: rgba(0, 0, 0, 0.1);
	color: #555555;
	font-size: 11px;
	margin-top: 8px;
	padding: 0 10px 1px;
	-moz-box-shadow: rgba(0, 0, 0, 0.2) 0 -1px 0 0;
	-webkit-box-shadow: rgba(0, 0, 0, 0.2) 0 -1px 0 0;
	-o-box-shadow: rgba(0, 0, 0, 0.2) 0 -1px 0 0;
	box-shadow: rgba(0, 0, 0, 0.2) 0 -1px 0 0;
}


#credits {
    color: #999999;
    margin: 30px auto;
    text-align: center;
    text-shadow: 0 1px 0 rgba(255, 255, 255, 0.8);
    width: 520px;
}

#credits a {
    color: #888888;
}
